@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --clr--primary: #182825;
    --clr--secondary: #016FB9;
    --clr--neutral: #6D8EA0;
    --clr--accentOne: #22AED1;
    --clr--accentTwo: #AFA98D;
    --ff--primary: 'Roboto Mono', monospace;
}



body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--ff--primary);
}



header{
    background-color: var(--clr--primary);
    color: var(--clr--accentOne);
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

header h1{
    text-decoration: underline;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.gameBoard{
    /* height: 300px;
    width: 300px; */
    background-color: var(--clr--primary);
    color: var(--clr--neutral);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size:  2rem;
    font-weight: bolder;
    justify-items: center;
    align-items: center;
    border: 8px solid var(--clr--neutral);
}

.gameBoard *{
    padding: 2rem 2.5rem;
    transition: 0.1s ease-in;
    border-right: 1px solid var(--clr--neutral);
    border-bottom: 1px solid var(--clr--neutral);
    cursor: pointer;
}

.gameBoard *:hover{
    background-color: var(--clr--secondary);  
    color: var(--clr--primary);  
}



footer{
    background-color: var(--clr--primary);
    color: var(--clr--neutral);
    padding: 1.5rem;
    font-size: 1.1rem;
    text-align: center;

}

footer a{
    color: var(--clr--accentOne);
    text-decoration: none;
}