@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --clr--primary: #182825;
    --clr--secondary: #016FB9;
    --clr--neutral: #6D8EA0;
    --clr--accentOne: #22AED1;
    --clr--accentTwo: #AFA98D;
    --ff--primary: 'Roboto Mono', monospace;
}



body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr--primary);
    font-family: var(--ff--primary);
}



header{
    background-color: var(--clr--secondary);
    color: var(--clr--primary);
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

header h1{
    text-decoration: underline;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.gameBoard{
    /* height: 339px;
    width: 317px; */
    background-color: var(--clr--primary);
    color: var(--clr--neutral);
    margin-top: 1em;
    margin-bottom: 0.5em ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size:  3rem;
    font-weight: bolder;
    /* border: 8px solid var(--clr--neutral); */
}


.gameBoard > div:nth-child(1),
.gameBoard > div:nth-child(2),
.gameBoard > div:nth-child(3),
.gameBoard > div:nth-child(4),
.gameBoard > div:nth-child(5),
.gameBoard > div:nth-child(6){
    border-bottom: 8px solid var(--clr--neutral);
}

.gameBoard > div:nth-child(1),
.gameBoard > div:nth-child(2),
.gameBoard > div:nth-child(4),
.gameBoard > div:nth-child(5),
.gameBoard > div:nth-child(7),
.gameBoard > div:nth-child(8)
{
    border-right: 8px solid var(--clr--neutral);
}


.gameBoard *{
    height: 100px;
    width: 100px;
    transition: 0.1s ease-in;
    cursor: pointer;
}
.gameBoard> div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameBoard *:hover{
    background-color: var(--clr--secondary);  
    color: var(--clr--primary);  
}




.btns{
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
}


.markChoice{
    background-color: var(--clr--neutral);
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.25em;
    font-size: 1.2em;
    font-weight: bold;
  
}
#choiceX, #choiceO {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.markChoice input[type='radio']
{
    border: 0px;
    width: 1.5em;
    height: 1.5em;
}



#playerOne, #playerTwo{
    background-color: var(--clr--neutral);
    margin-right: 1em;
    padding: 8px;
    /* font-size: 1.1em; */
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    
}

#playerOne textarea, #playerTwo textarea{
   background: var(--clr--accentTwo) ; 
   margin-top: 0.5em;
   border: 1px solid var(--clr--primary);
   resize: none;
   text-align: center;
   padding: 0.25em 0;
   font-size: 20px;
   font-weight: bold;
}
/* 
#pOneChoice, #pTwoChoice{
    font-size: 1.2em;

} */
#clearBoard, #resetGame, #playAgain{
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0.75rem 1rem;
    background-color: var(--clr--secondary);
    color: var(--clr--primary);
    border: 5px solid var(--clr--neutral);
    transition: 0.1s ease-in;
}

#clearBoard:hover, #resetGame:hover{
    background-color: var(--clr--accentOne);
}
.clearResetWrap{
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
}
.clearResetWrap *{
    flex: 1;
}


.output{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: var(--clr--accentTwo);
    font-size: 2rem;
    margin: 3rem;
}
#playAgain{
    display: none;
}
#winner{
    text-align: center;
}


footer{
    background-color: var(--clr--secondary);
    color: var(--clr--primary);
    padding: 1.5rem;
    font-size: 1.1rem;
    text-align: center;

}

footer a{
    color: var(--clr--accentTwo);
    text-decoration: none;
}


@media only screen and (max-width: 500px) {
    .btns {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
    .btns *{
        flex: 1;
    }
    .markChoice{
        flex-direction: row;
        gap: 1em;
    }
    
    .gameBoard *{
        height: 70px;
        width: 70px;
    }
    
  }